<div class="row">
<div class="c360-account-actions" >
    <h3>Available Actions</h3>
    <div class="col-md-4 account-action">Declare a property as a sole or main residence</div>
    <div class="col-md-4 account-action">Make a payment</div>
    <div class="col-md-4 account-action">Report a birth</div>
    <div class="col-md-4 account-action">Report a change in circumstances</div>
    <div class="col-md-4 account-action">Report a change of address</div>
    <div class="col-md-4 account-action">Report a missing payment</div>
    <div class="col-md-4 account-action">Request a statement of account</div>
</div>
</div>
