h3 {
    background-color: steelblue;
    color: white;
    font-size: 14pt;
    padding: 2px;
}

.account-action{
    padding: 4px;
    border: 1px solid #eee;
}

.account-action:hover {
    background-color: cadetblue;
}
